html {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    box-sizing: border-box;
    background-color: black;
}

input:focus {
    outline: none !important;
}

input {
    background-color: lightgray;
}

button {
    background-color: coral;
    border: 2px solid coral;
}

button:hover {
    background-color: #e36436;
}

.chatroom {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    width: 100%;
    overflow-y: scroll;
    background-color: rgb(42, 42, 42);
}

form {
    display: flex;
    width: 70%;
    height: 2rem;
    padding: 2rem 0;
    justify-content: space-evenly;
    align-items: center;
}

#textBox {
    display: flex;
    width: 75%;
    margin: 0 5px;
    height: 2rem;
    font-size: 1rem;
    border-radius: 5px;
    padding: 0 15px;
}

button {
    width: 10%;
    min-width: 60px;
    height: 2rem;
    border-radius: 5px;
    text-align: center;
}

.message {
    width: fit-content;
    max-width: 60%;
    flex-wrap: nowrap;
    padding: 10px;
    border-radius: 5px;
    font-weight: normal;
    color: black;
    margin: 3px 0;
}

.me>.message {
    background-color: lightgray;
}

.others>.message {
    background-color: coral;
    font-weight: bold;
}

.me {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1rem;
}

.others {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem;
}

.username {
    font-weight: normal;
    font-size: small;
    margin: 0;
    color: #dfdfdf;
}

input#username,
label {
    width: 50%;
    padding: 5px;
    border: none;
    border-radius: 5px;
}

label {
    color: white;
    font: bold;
}

.name-input {
    text-align: center;
    padding: 1rem 0;
    width: 100%;
}

p {
    color: gray;
    margin: 0 auto 1rem;
}